.neo-card {
  border: 2px solid var(--background-color);
  border-radius: 10px;
  padding: 16px;
  background-color: rgb(26, 26, 46);
  color: white;
  width: 370px;
  display: flex;
  flex-direction: column;
}

.neo-card:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.neo-card:active {
  transform: scale(0.95);
}

.neo-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.neo-card p {
  font-size: 1rem;
  margin: 5px 0;
}

.hazardous {
  color: red;
  font-weight: bold;
}

.not-hazardous {
  color: green;
  font-weight: bold;
}

@media (max-width: 768px) {
  .neo-card {
    width: 300px;
  }
}
