#NEO-page {
  background-image: url("../../assets/NEO-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.neo-date-filter {
  padding: 10px;
  border: 1px solid var(--background-color);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  width: 500px;
  background-color: rgb(26, 26, 46);
  color: white;
  color-scheme: dark;
}

@media (max-width: 768px) {
  .neo-date-filter {
    width: 300px;
  }
}
