.mars-rover-details-container {
  max-width: 800px;
  margin: 40px auto;
  background: rgb(18, 18, 18, 0.9);
  color: white;
  border-radius: 10px;
}

.mars-rover-title {
  padding: 20px;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(255, 204, 0);
}

.mars-rover-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.mars-rover-info {
  padding: 20px;
  text-align: center;
}

.mars-rover-earth-date,
.mars-rover-sol,
.mars-rover-camera {
  color: rgb(170, 170, 170);
  margin-bottom: 15px;
}

.mars-rover-info p {
  font-size: 17px;
  line-height: 1.6;
}
