#error-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
}

.error-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25vw;
  font-weight: bold;
  color: rgba(240, 1, 1, 0.1);
  user-select: none;
  z-index: 0;
}

.error-content {
  position: relative;
  text-align: center;
}

.error-content h2 {
  color: red;
  font-size: 2rem;
}

.error-content p {
  font-size: 3rem;
  margin-bottom: 20px;
}

.error-content button {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.error-content button:hover {
  background: rgb(151, 1, 1);
}
