#earth-imagery {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background: url(../../assets/planet-earth.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 30%;
  background-color: var(--background-color);
}

.filter-and-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  #earth-imagery {
    flex-direction: column;
    gap: 20px;
  }
}
