:root {
  --light-background: rgb(240, 240, 240);
  --dark-text: rgb(51, 51, 51);

  --dark-background: rgb(34, 34, 34);
  --light-text: rgb(255, 255, 255);

  --background-color: var(--light-background);
  --text-color: var(--dark-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Inter", sans-serif;
}

.dark-mode {
  --background-color: var(--dark-background);
  --text-color: var(--light-text);
}
