* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Inter", sans-serif;
}

.dark-mode {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

.light-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}
