:root {
  --background-color: rgb(240, 240, 240);
  --text-color: rgb(31, 31, 31);
  --nav-bg: rgb(79, 100, 209);
  --theme-button-bg: linear-gradient(
    120deg,
    rgb(17, 26, 112),
    rgb(15, 29, 155)
  );
  --apod-date-bg: white;
  --details-card-bg: rgba(211, 211, 211, 0.507);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Inter", sans-serif;
}

.dark-mode {
  --background-color: rgb(34, 34, 34);
  --text-color: rgb(255, 255, 255);
  --nav-bg: rgb(45, 61, 143);
  --theme-button-bg: linear-gradient(
    120deg,
    rgb(32, 50, 211),
    rgb(72, 88, 230)
  );
  --apod-date-bg: rgb(24, 22, 22);
  --details-card-bg: rgba(0, 0, 0, 0.363);
}
