.date-filter {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}

.date-filter input {
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: var(--apod-date-bg);
  color: var(--text-color);
}

.date-filter input[type="date"] {
  width: 200px;
}

.date-filter button {
  padding: 10px 15px;
  border: none;
  background: var(--theme-button-bg);
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.date-filter button:hover {
  transform: scale(1.07);
}

@media (max-width: 768px) {
  .date-filter {
    flex-direction: column;
    gap: 10px;
  }
}
