.mars-photo-card {
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background: rgb(34, 34, 34);
    color: white;
  }
  
  .mars-photo-card:hover {
    transform: scale(1.05);
  }
  
  .mars-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .mars-photo-info {
    padding: 10px;
  }
  
  .mars-photo-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .mars-photo-info p {
    margin: 5px 0;
    font-size: 14px;
  }
  