#apod-details-container {
  max-width: 1000px;
  margin: 40px auto;
  background: rgb(18, 18, 18, 0.9);
  color: white;
  border-radius: 10px;
}

.apod-title {
  padding: 20px;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(255, 204, 0);
}

.apod-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.apod-info {
  padding: 20px;
  text-align: center;
}

.apod-date {
  color: rgb(170, 170, 170);
  margin-bottom: 15px;
}

.apod-description {
  font-size: 17px;
  line-height: 1.6;
}
