#apod-details-page {
  background-color: var(--background-color);
  padding: 40px;
}

.apod-details-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--details-card-bg);
  color: var(--text-color);
  border-radius: 10px;
}

.apod-title {
  padding: 20px;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(224, 180, 0);
}

.apod-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.apod-info {
  padding: 20px;
  text-align: center;
}

.apod-date {
  color: rgb(170, 170, 170);
  margin-bottom: 15px;
  font-weight: bold;
}

.apod-description {
  font-size: 17px;
  line-height: 1.6;
}
